.home-wallpaper{
    margin-top:60px;
    width: 100%;
    height: 100%;
    background: linear-gradient(92.82deg, rgba(10, 56, 149, 0.5) 31.73%, rgba(89, 153, 83, 0.1) 69.59%, rgba(110, 145, 214, 0.05) 97.76%);
}

/*banner*/
.banner-parent{
   
    background: #2379F9;
    margin:80px 180px;
    text-align: center;
    border-radius: 15px;
}
/* banner */
.banner{
    padding-top:70px;
    padding-left: 110px;
    padding-right: 110px;
}
.banner-text{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 45px;
    text-align: center;
    color:#FFFFFF;
}
.banner-input{
    margin-top: 35px;
    margin-bottom: 90px;
    height: 38px;
    width:245px;
    background: #FFFFFF;
    outline:none;
    box-shadow: 0px 2px 8px rgba(61, 35, 230, 0.25);
    border-radius: 64px;
    border-color: #0066ff;
}



/*service */
.services-parent{
    display: flex;
    margin:104px 134px;
    border: 2px solid blue;
}
.service-image{
    width: 295px;
    height: 570px;
}

.service-description-container{
   padding-right: 10px;
    height: 570px;
    margin-left: 90px;
}
.service-description-container-heading1{
    font-family: 'Teko';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #2379F9;
    margin: 0px;
    margin-bottom: 10px;
}

.service-description-container-heading2{


    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
    margin: 0px;
 }

 .service-description-heading{
    font-family: 'Poopins';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 19px;
    margin-bottom:0px;
 }



