
.navbar-hidden-list{
    padding-left:0px ;
    padding-top:20px;
    width: 100%;
    position:absolute;
    top: 58px;
    display: flex;
    justify-content: space-around;
    color: black;
    list-style: none;
    background-color: white;
    height: 40px;
}
.navbar-hidden-list-links{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: #2379F9;
    cursor: pointer;
}




.navbar-parent{

   width:100%;
   position: fixed;
   z-index: 999;
   top:0px;
   background-color: white;
   box-shadow: 0px 3px 10px rgba(35, 121, 249, 0.2);
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 24px;
    

}
.navbar-logo{
    padding-top: 8px;
    padding-bottom: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight:600;
    font-size: 20px;
    line-height: 25px;
}
.navbar-logo-more{

    color: #2379F9;
    text-decoration: none;
    margin-left: 138px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    top:0px;
    

}
.navbar-logo-more-icon{
    padding-top: 10px;
   
}
.navbar-help{
    margin-right: 46px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #2379F9;
}
.navbar-help span{
    font-weight: 600;
}
.navbar-help p{
    margin: 0px;
}